<html>
<head></head>
<body>
  <p>
    Most people who have done mock-ups are familiar with the classic “Lorem ipsum” phrase, the Latin text which is often used to fill in spaces where text will be put at a later time. MacLorem uses the classic “lorem ipsum” phrase to generate random text, providing more variety and a more realistic, non-repetitive and naturally uneven look. Simply clicking on a button marked Generate will create random text, placing it in MacLorem’s main window and simultaneously placing it on your clipboard so it is ready to paste into the document you are designing.
</p><p>
MacLorem goes beyond this simple task in many ways. From the Edit→Preferences menu, you can control the number of paragraphs it generates up to 100, and you can indicate whether paragraphs should be long, medium or short. You can also decide whether MacLorem sometimes creates interrogative (?) and exclamatory (!) sentences. You can turn on or off options for additional punctuation including em-dashes, ellipses and semicolons. You can choose whether the paragraphs it generates should be indented. If you ask for indented paragraphs, you can have them indented with a series of spaces, a single tab character, or separate the paragraphs with an HTML <p> or <br> tag.
  </p>

<script src="script.js"></script> 
</body>
</html>